data/models/*
data/bg/*
windows-amd64
data/presets/result/*
data/presets/suiban.json

!data/models/

data/models/demo/*
!data/models/demo/
!data/models/demo/demo.glb

data/models/Exit8/*
!data/models/Exit8/
!data/models/Exit8/Exit8.glb

data/models/glass/*
!data/models/glass/
!data/models/glass/glass.glb

data/models/sibenik/*
!data/models/sibenik/
!data/models/sibenik/sibenik.glb
!data/models/sibenik/copyright.txt